body{
	background: #f2f4f6 url(images/image3.jpg) 0 20px;
}
#logo{
	margin-top: 17px;
	width: 60%;
	margin-left: 20%;
	text-align: center;
}
#logo img{
	width: 100%;
	max-width: 200px;
    height: auto;
}
#about{
 	font: italic normal bold 12pt Arial;
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
#content{
	overflow: hidden;
	display:block;
	background: #f2f4f6;
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	padding-top: 30px;
}
.program{
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	margin-top:20px;
}
#result{
	margin: 0px;
	text-align: center;
	float: right;
	width: 50%;
}
#result h1{
	font: normal bold 22pt Arial;
	margin-top: 0; 
}
#button{
	margin-top: 20px;
	margin-bottom: 50px;
 	text-decoration:none; 
 	text-align:center; 
 	padding:11px 32px; 
 	border:solid 1px #004F72; 
 	border-radius: 4px; 
 	font:16px Arial, Helvetica, sans-serif; 
 	font-weight:bold; 
 	color:#E5FFFF; 
 	background-color:#3BA4C7;  
 	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
#button:hover{
 	background: #3B50C7;
}
#dataimage{
	text-align: left;
	float: left;
	width: 50%;
	height: auto;
	margin-bottom: 30px;
}
.program img{
	width: 100%;
    height: auto;
}
table{
	border-collapse: collapse;
	border: 1px solid grey;
	width: 50%;
	margin: 0 auto;
}
th{
	font: normal bold 16pt Arial;
	padding: 10px;
	border: 3px solid grey;
}
td{
	font: normal bold 14pt Arial;
	padding: 10px;
	border: 3px solid grey;
}
#time{
	margin-top: 20px;
}
@media screen and (max-width: 999px){ 
	#about{
    	width: 748px;
	}
	#content{
    	width: 748px;
	}
	#result{
		margin-top:0px;
	}
	#result h1{
		margin-bottom: 0; 
	}
	#button{
		margin-top: 10px;
	}
@media screen and (max-width: 767px){ 
	#about{
    	width: 460px;
	}
	#content{
    	width: 460px;
	}
	#result{
		float: none;
		width: 100%;
		margin-top:20px;
	}
	#result h1{
		margin-bottom: 15px; 
	}
	#dataimage{
		float: none;
		width: 100%;
	}
	#button{
		margin-top: 20px;
	}
}
@media screen and (max-width: 479px){ 
	#about{
    	width: 300px;
	}
	#content{
    	width: 300px;
	}
	#result{
		float: none;
		width: 100%;
		margin-top:20px;
	}
	#dataimage{
		float: none;
		width: 100%;
	}
}}